### Name : Ghosh Kushanava Amitava
### Roll No : 220123083
### Course : MA323

In [1]:
import numpy as np
import scipy.integrate as integral
import pandas as pd

In [2]:
# Linear Congruential Generator (LCG)
def lcg(a, c, m, seed, n):
    random_numbers = []
    X = seed
    for _ in range(n):
        X = (a * X + c) % m
        random_numbers.append(X / m)  # Normalizing to [0, 1]
    return np.array(random_numbers)

#### Using Anti-Thetic Method

In [3]:
# Define the function h(U) = (exp(sqrt(U)) + exp(sqrt(1-U)))/2 in the given question
def h(U):
    return (np.exp(np.sqrt(U)) + np.exp(np.sqrt(1-U)))/2

#### Using Non Anti-thetic Method

In [4]:
# Define the function f(U) = exp(sqrt(U)) in the given question
def f(U):
    return np.exp(np.sqrt(U))

In [5]:
# Monte Carlo Integration using LCG-generated random numbers
def mci(n, h, a, c, m, seed):
    # Generate n uniform random numbers using LCG
    U = lcg(a, c, m, seed, n)
    
    # Apply the function h to each random number
    f_u = h(U)
    
    # Computing the Monte Carlo estimate
    mu = np.mean(f_u)
    
    return mu, f_u

In [6]:
def confidence_95(seq, sample):
    mu = np.mean(seq)
    s = 0
    for i in range(1, sample):
        s = s + i/(i+1) * (seq[i] - mu)**2
    s /= (sample-1)
    lower = mu - 1.96*(s/sample)**0.5
    upper = mu + 1.96*(s/sample)**0.5
    return lower, upper, mu, s

In [7]:
# Parameters for LCG
a = 1664525
c = 1013904223
m = 2**32
seed = 42  # Initial seed

# Number of Monte Carlo samples
samples = [10**2, 10**3, 10**4, 10**5]
samples_ = [50, 10**2, 500, 10**3, 5000, 10**4, 50000, 10**5]

# Making the table of parameter values corresponding f(U)
data_f = []

# Making the table of parameter values corresponding h(U)
data_h = []

# Perform Monte Carlo Integration
# Lab 6
for sample in samples:
    estimate, seq = mci(sample, f, a, c, m, seed)
    lower, upper, mu, s = confidence_95(seq, sample)
    data_f.append([sample, estimate, lower, upper, upper-lower, s])
    print(f"Monte Carlo estimate of I -> f(U) using LCG for M = {sample}: {estimate}")
    print(f"Confidence Level : {lower, upper}")
    print(f"Length of interval : {upper-lower}")
    print("")
    
# Lab 7
for sample in samples_:
    estimate, seq = mci(sample, h, a, c, m, seed)
    lower, upper, mu, s = confidence_95(seq, sample)
    data_h.append([sample, estimate, lower, upper, upper-lower, s])
    print(f"Monte Carlo estimate of I -> h(U) using LCG for M = {sample}: {estimate}")
    print(f"Confidence Level : {lower, upper}")
    print(f"Length of interval : {upper-lower}")
    print("")

Monte Carlo estimate of I -> f(U) using LCG for M = 100: 2.009095489214785
Confidence Level : (1.9217422309406598, 2.09644874748891)
Length of interval : 0.1747065165482502

Monte Carlo estimate of I -> f(U) using LCG for M = 1000: 2.0192643016513276
Confidence Level : (1.992647676470545, 2.04588092683211)
Length of interval : 0.05323325036156512

Monte Carlo estimate of I -> f(U) using LCG for M = 10000: 2.005555001818985
Confidence Level : (1.9968538814874779, 2.0142561221504924)
Length of interval : 0.017402240663014545

Monte Carlo estimate of I -> f(U) using LCG for M = 100000: 2.0020279077765166
Confidence Level : (1.9993004761739859, 2.0047553393790474)
Length of interval : 0.0054548632050615

Monte Carlo estimate of I -> h(U) using LCG for M = 50: 1.9971702185949156
Confidence Level : (1.9882581914774178, 2.0060822457124137)
Length of interval : 0.01782405423499589

Monte Carlo estimate of I -> h(U) using LCG for M = 100: 1.9977223609034567
Confidence Level : (1.99153782035623, 2.0039069014506836)
Length of interval : 0.012369081094453671

Monte Carlo estimate of I -> h(U) using LCG for M = 500: 2.0007377707766842
Confidence Level : (1.9979767969025684, 2.0034987446508)
Length of interval : 0.005521947748231781

Monte Carlo estimate of I -> h(U) using LCG for M = 1000: 2.000890784192664
Confidence Level : (1.9989068262509095, 2.002874742134419)
Length of interval : 0.003967915883509532

Monte Carlo estimate of I -> h(U) using LCG for M = 5000: 1.9998422003156797
Confidence Level : (1.9989341750192362, 2.0007502256121232)
Length of interval : 0.0018160505928870307

Monte Carlo estimate of I -> h(U) using LCG for M = 10000: 1.9995016184939847
Confidence Level : (1.9988541765517072, 2.000149060436262)
Length of interval : 0.0012948838845550092

Monte Carlo estimate of I -> h(U) using LCG for M = 50000: 2.0000309078983514
Confidence Level : (1.9997438447824785, 2.0003179710142245)
Length of interval : 0.0005741262317460194

Monte Carlo estimate of I -> h(U) using LCG for M = 100000: 2.0001158187938315
Confidence Level : (1.9999131762203837, 2.000318461367279)
Length of interval : 0.0004052851468954177

In [8]:
# make dataframe for old and new values

In [9]:
# Computing exact value of I -> h(U)
exact, _ = integral.quad(h, 0, 1)
print(f"Exact value of I is {exact}")

Exact value of I is 1.999999999999999

In [10]:
# Computing exact value of I -> f(U) [Lab 6]
exact, _ = integral.quad(f, 0, 1)
print(f"Exact value of I is {exact}")

Exact value of I is 2.0000000000000004

In [11]:
# Create a DataFrame of parameters of f(U)
columns = ["Sample_f", "Mean_f", "Lower_f", "Upper_f", "Width_f", "Variance_f"]
table_f = pd.DataFrame(data_f, columns=columns)
table_f

   Sample_f    Mean_f   Lower_f   Upper_f   Width_f  Variance_f
0       100  2.009095  1.921742  2.096449  0.174707    0.198631
1      1000  2.019264  1.992648  2.045881  0.053233    0.184414
2     10000  2.005555  1.996854  2.014256  0.017402    0.197078
3    100000  2.002028  1.999300  2.004755  0.005455    0.193640

In [12]:
# Create a DataFrame of parameters of h(U)
columns = ["Sample_h", "Mean_h", "Lower_h", "Upper_h", "Width_h", "Variance_h"]
table_h = pd.DataFrame(data_h, columns=columns)
table_h

   Sample_h    Mean_h   Lower_h   Upper_h   Width_h  Variance_h
0        50  1.997170  1.988258  2.006082  0.017824    0.001034
1       100  1.997722  1.991538  2.003907  0.012369    0.000996
2       500  2.000738  1.997977  2.003499  0.005522    0.000992
3      1000  2.000891  1.998907  2.002875  0.003968    0.001025
4      5000  1.999842  1.998934  2.000750  0.001816    0.001073
5     10000  1.999502  1.998854  2.000149  0.001295    0.001091
6     50000  2.000031  1.999744  2.000318  0.000574    0.001073
7    100000  2.000116  1.999913  2.000318  0.000405    0.001069

In [13]:
# Create a mapping of Sample_f to Sample_h
# We want rows in Sample_h where Sample_h = Sample_f / 2
table_f['Sample_h'] = (table_f['Sample_f'] // 2).astype(int)

# Merge the two DataFrames based on Sample_h and Sample_f / 2 relationship
table_combined = pd.merge(table_h, table_f, how='left', on='Sample_h')

# Fill missing values of h(U) related columns with 0 or NaN as needed
table_combined.fillna({
    "Mean_h": 0,
    "Lower_h": 0,
    "Upper_h": 0,
    "Width_h": 0,
    "Standard_Deviation_h": 0
}, inplace=True)

# Ensure that Sample_f is integer as well
table_combined['Sample_f'] = table_combined['Sample_f'].fillna(0).astype(int)

# Calculate the Width_Ratio as Width_f / Width_h, with 0 if either value is 0
table_combined['Width_Ratio'] = table_combined.apply(lambda row: row['Width_f'] / row['Width_h'] if row['Width_f'] != 0 and row['Width_h'] != 0 else 0, axis=1)

# Display the resulting DataFrame
table_combined

,Sample_h,Mean_h,Lower_h,Upper_h,Width_h,Variance_h,Sample_f,Mean_f,Lower_f,Upper_f,Width_f,Variance_f,Width_Ratio
0,50,1.997170,1.988258,2.006082,0.017824,0.001034,100,2.009095,1.921742,2.096449,0.174707,0.198631,9.801727
1,100,1.997722,1.991538,2.003907,0.012369,0.000996,0,NaN,NaN,NaN,NaN,NaN,NaN
2,500,2.000738,1.997977,2.003499,0.005522,0.000992,1000,2.019264,1.992648,2.045881,0.053233,0.184414,9.640303
3,1000,2.000891,1.998907,2.002875,0.003968,0.001025,0,NaN,NaN,NaN,NaN,NaN,NaN
4,5000,1.999842,1.998934,2.000750,0.001816,0.001073,10000,2.005555,1.996854,2.014256,0.017402,0.197078,9.582465
5,10000,1.999502,1.998854,2.000149,0.001295,0.001091,0,NaN,NaN,NaN,NaN,NaN,NaN
6,50000,2.000031,1.999744,2.000318,0.000574,0.001073,100000,2.002028,1.999300,2.004755,0.005455,0.193640,9.501157
7,100000,2.000116,1.999913,2.000318,0.000405,0.001069,0,NaN,NaN,NaN,NaN,NaN,NaN